div.fmc-log-container {
	max-height: 265px;
	overflow: auto;
}

div.fmc-log-container table {
	border: none;
}

div.fmc-log-container tr:hover {
	background-color: initial !important;
}

div.fmc-log-container th {
	text-align: left;
}

div.fmc-log-container td {
	text-align: left;
	border: none;
	padding: 0 18px;
	height: 22px;
}

div.fmc-log-container .log-data {
	height: 22px;
}

div.fmc-log-container .time-col,
div.fmc-log-container .spd-col,
div.fmc-log-container .hdg-col,
div.fmc-log-container .alt-col {
	width: 75px;
}

div.fmc-log-container .lat-col,
div.fmc-log-container .lon-col {
	width: 90px;
}

div.fmc-log-container .fps-col {
	width: 60px
}

div.fmc-log-container .oth-col {
	width: 130px;
}
