/* button.html */
button.fmc-btn,
button.fmc-btn:hover,
button.fmc-btn:active,
button.fmc-btn:focus:not(:active) {
	color: white;
	background: green;
}

button.fmc-btn__fade {
	transition: opacity 0.2s ease-in-out;
	-moz-transition: opacity 0.2s ease-in-out;
	-webkit-transition: opacity 0.2s ease-in-out;
}

button.fmc-btn__fade:hover {
	opacity: 0.8;
}

/* externaldist.html */


/* modal.html */
a.fmc-btn__fade {
	transition: font-size 0.3s ease-in-out,
				font-weight 0.3s ease-in-out,
				color 0.3s ease-in-out;
	-moz-transition: font-size 0.3s ease-in-out,
				font-weight 0.3s ease-in-out,
				color 0.3s ease-in-out;
	-webkit-transition: font-size 0.3s ease-in-out,
				font-weight 0.3s ease-in-out,
				color 0.3s ease-in-out;
}

a.fmc-btn__fade:hover:not(.is-active) {
	font-weight: bold;
	color: black;
}

a.fmc-btn__fade.is-active {
	font-size: 15px;
	font-weight: bold;
	color: rgb(83, 109, 254) !important;
}

dialog.fmc-modal {
	height: 570px;
	width: 700px;
    padding: 14px 14px;
	border: none;
	border-radius: 7px;
}

dialog.fmc-modal + .backdrop {
    background: none; /* Dialog polyfill fix */
}

dialog.fmc-modal::backdrop {
	background: none;
}

dialog.fmc-modal .fmc-modal__close {
	height: 25px;
	margin: -13px 0;
	float: right;
}

dialog.fmc-modal h4 {
	text-align: center;
	margin-top: 10px !important;
}

dialog.fmc-modal .fmc-modal__no-shadow {
	box-shadow: none !important;
	background: white !important;
    min-height: inherit;
    height: inherit;
}

@media screen and (max-width: 1024px) {
	/* MDL's small screen hides modal header */
	dialog.fmc-modal .fmc-modal__no-shadow {
		display: block !important;
	}
}

div.fmc-modal__layout-container {
	position: relative;
	height: 85%;
}

div.fmc-modal__layout {
	width: 700px;
}

div.fmc-modal__header {
	height: 48px;
}

div.fmc-modal__tab-bar {
	background: inherit !important;
}

div.fmc-modal__divider {
	height: 2px;
	margin-top: -2px;
	background: rgba(66, 66, 66, 0.2);
}

div.fmc-modal__content {
	padding-top: 15px;
}

/* route.html */
div.fmc-dep-arr-table-container {
	margin-top: -10px;
}

div.fmc-dep-arr-table-container i {
	position: relative;
	top: 5px;
	margin-right: 5px;
}

div.fmc-dep-arr-table-container div {
	width: 195px;
}

div.fmc-wpt-add-container {
	float: right;
}

/* waypoints.html */
div.fmc-wpt-list-container {
	margin-top: -23px;
	height: 320px;
	overflow: auto;
}

div.fmc-wpt-list-container table {
	border: none;
}

div.fmc-wpt-list-container tr:hover {
	background-color: initial !important;
}

div.fmc-wpt-list-container th {
	text-align: left;
}

div.fmc-wpt-list-container td {
	border: none;
}

div.fmc-wpt-list-container .wpt-col {
	width: 11%;
}

div.fmc-wpt-list-container .lat-col {
	width: 11.5%;
}

div.fmc-wpt-list-container .lon-col {
	width: 11.8%;
}

div.fmc-wpt-list-container .alt-col {
	width: 5%;
}

div.fmc-wpt-list-container .actions-col {
	width: 10%;
}

tr.wpt-row div {
	width: initial;
}

tr.wpt-row td {
	padding-top: 0px !important;
	padding-bottom: 0px !important;
}

tr.wpt-row .fmc-wpt-info {
	color: rgb(83, 109, 254);
	position: absolute;
	font-size: 12px;
	margin-top: 3px;
	visibility: visible;
	display: block;
}

tr.wpt-row button {
	float: left;
	/*min-width: 24px !important;*/
	/*width: 24px;*/
	/*height: 24px;*/
}

tr.wpt-row button[action="activate-wpt"] {
	display: none; /* Future implementation needed */
}

/* dep-arr.html */
/* vnav.html */
/* progress.html */
/* load-route.html */
/* log.html */
