/* For FMC button */
button.fmc-btn,
button.fmc-btn:hover,
button.fmc-btn:active,
button.fmc-btn:focus:not(:active) {
	color: white;
	background: green;
}

button.fmc-btn__fade {
	transition: opacity 0.2s ease-in-out;
	-moz-transition: opacity 0.2s ease-in-out;
	-webkit-transition: opacity 0.2s ease-in-out;
}

button.fmc-btn__fade:hover {
	opacity: 0.8;
}

/* For external distance indicator */


/* For modal dialog */
a.fmc-btn__fade {
	transition: background 0.3s ease-in-out,
				color 0.3s ease-in-out,
				font-weight 0.3s ease-in-out;
	-moz-transition: background 0.3s ease-in-out,
				color 0.3s ease-in-out,
				font-weight 0.3s ease-in-out;
	-webkit-transition: background 0.3s ease-in-out,
				color 0.3s ease-in-out,
				font-weight 0.3s ease-in-out;
}

a.fmc-btn__fade:hover:not(.is-active) {
	background: rgb(83, 109, 254);
	color: white;
}

a.fmc-btn__fade.is-active {
	color: rgb(83, 109, 254) !important;
	font-weight: bold;
}

dialog.fmc-modal {
	height: 595.25px; /* Must define a set pixel */
	/* FIXME Find out why this height is stretched in game */
	width: 700px;
	border: none;
	border-radius: 7px;
}

dialog.fmc-modal::backdrop {
	background: none;
}

dialog.fmc-modal .fmc-modal__close {
	height: 25px;
	margin: -13px 0;
	float: right;
}

dialog.fmc-modal h4 {
	text-align: center;
	margin-top: 10px !important;
}

dialog.fmc-modal .fmc-modal__no-shadow {
	box-shadow: none !important;
	background: white !important;
}

div.fmc-modal__layout-container {
	position: relative;
	height: 85%;
}

div.fmc-modal__layout {
	width: 700px;
}

div.fmc-modal__header {
	height: 48px;
}

div.fmc-modal__tab-bar {
	background: inherit !important;
}

div.fmc-modal__divider {
	height: 2px;
	margin-top: -2px;
	background: rgba(66, 66, 66, 0.2);
}

div.fmc-modal__content {
	height: inherit;
	margin-top: 15px;
}

div.fmc-dep-arr-table-container {
	margin-top: -10px;
}

td.dep-input-field div {
	width: 200px;
}

td.arr-input-field div {
	width: 200px;
}

td.fn-input-field div {
	width: 200px;
}

div.fmc-wpt-list-container {
	margin-top: -23px;
	height: 296px;
	overflow: scroll;
}

div.fmc-wpt-list-container table {
	border: none;
}

div.fmc-wpt-list-container tr:hover {
	background-color: initial !important;
}

div.fmc-wpt-list-container th {
	text-align: left;
}

div.fmc-wpt-list-container td {
	border: none;
}

div.fmc-wpt-list-container .wpt-col {
	width: 11%;
}

div.fmc-wpt-list-container .lat-col {
	width: 11.5%;
}

div.fmc-wpt-list-container .lon-col {
	width: 11.8%;
}

div.fmc-wpt-list-container .alt-col {
	width: 5%;
}

div.fmc-wpt-list-container .actions-col {
	width: 10%;
}

tr.wpt-row div {
	width: initial;
}

tr.wpt-row td {
	padding-top: 0px !important;
	padding-bottom: 0px !important;
}

tr.wpt-row button {
	float: left;
}

div.fmc-wpt-add-container {
	float: right;
}
