/* For FMC button */
button.fmc-btn {
	color: white;
	background: green;
}

button.fmc-btn:hover, button.fmc-btn:active, button.fmc-btn:focus:not(:active) {
	color: white;
	background: green;
	opacity: 0.7;
}

/* For external distance indicator */


/* For modal dialog */
dialog.fmc-modal {
	height: 75%;
	width: 700px;
	border: none;
	border-radius: 7px;
}

.fmc-modal h4 {
	text-align: center;
}

div.fmc-modal__content {
	width: 700px;
}

header.mdl-layout__header, div.mdl-layout__tab-bar-container {
	background: white;
}
