/* For FMC button */
button.fmc-btn,
button.fmc-btn:hover,
button.fmc-btn:active,
button.fmc-btn:focus:not(:active) {
	color: white;
	background: green;
}

button.fmc-btn__fade {
	transition: opacity 0.2s ease-in-out;
	-moz-transition: opacity 0.2s ease-in-out;
	-webkit-transition: opacity 0.2s ease-in-out;
}

button.fmc-btn__fade:hover {
	opacity: 0.8;
}

/* For external distance indicator */


/* For modal dialog */
a.fmc-btn__fade {
	transition: background 0.3s ease-in-out,
				color 0.3s ease-in-out,
				font-weight 0.3s ease-in-out;
	-moz-transition: background 0.3s ease-in-out,
				color 0.3s ease-in-out,
				font-weight 0.3s ease-in-out;
	-webkit-transition: background 0.3s ease-in-out,
				color 0.3s ease-in-out,
				font-weight 0.3s ease-in-out;
}

a.fmc-btn__fade:hover:not(.is-active) {
	background: rgb(83, 109, 254);
	color: white;
}

a.fmc-btn__fade.is-active {
	color: rgb(83, 109, 254) !important;
	font-weight: bold;
}

dialog.fmc-modal {
	height: 75%;
	width: 700px;
	border: none;
	border-radius: 7px;
}

dialog.fmc-modal .fmc-modal__close {
	height: 25px;
	position: absolute;
	right: 15px;
}

dialog.fmc-modal h4 {
	text-align: center;
	margin-top: 10px !important;
}

dialog.fmc-modal .fmc-modal__no-shadow {
	box-shadow: none !important;
	background: white !important;
}

div.fmc-modal__layout-container {
	position: relative;
	height: 85%;
}

div.fmc-modal__layout {
	width: 700px;
}

div.fmc-modal__tab-bar {
	height: 50px !important;
	background: inherit !important;
}

div.fmc-modal__divider {
	height: 2px;
	margin-top: -2px;
	background: rgba(66, 66, 66, 0.2);
	margin-top: 16px;
}


header.mdl-layout__header, a.mdl-layout__tab {
	background: white;
}

.mdl-layout__header {
	box-shadow: none !important;
	min-height: 0px !important;
	height: 48px;
}

div.mdl-layout__container {
	width: 700px;
}

div.fmc-modal__content, div.mdl-layout__container {
	height: 595px;
}

main.mdl-layout__content {
	height: 100%;
}

div.fmc-model__actions {
	vertical-align: bottom;
}

.dep-arr-field {
	width: 100px !important;
}

.fn-field {
	width: 200px !important;
}

div.wpt-input {
	width: 120px;
}

div.pos-input {
	width: 90px;
}

div.alt-input {
	width: 60px;
}

table.wpt-actions td {
	border-top: none;
	border-bottom: none;
	padding: 0px !important;
}

table.wpt-list td {
	padding-top: 0px !important;
	padding-bottom: 0px !important;
}

div.wpt-input, div.pos-input, div.alt-input {
	padding-top: 20px;
	padding-bottom: 20px;
}

div.add-wpt {
	position: absolute;
	right: 40px;
	bottom: 0px;
}

.wpt-list h6 {
	text-align: left;
}

.mdl-layout__content {
	flex-grow: 0 !important;
	-webkit-flex-grow: 0 !important;
}

hr.header-divider {
	margin-top: 0px;
}

a.is-active {
	font-weight: bold;
}

.demo-layout-transparent {
  background: url('../assets/demos/transparent.jpg') center / cover;
}
.demo-layout-transparent .mdl-layout__header,
.demo-layout-transparent .mdl-layout__drawer-button {
  color: white;
}
